/* searchBar.css */

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    margin: 0 50%;
  }
  
  .input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 20px 0 0 20px;
    outline: none;
  }
  
  .button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 8px 16px;
    border: none;
    font-size: 16px;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
  }

  .button:hover {
    background-color: #464444;
    color: #fff;
    padding: 10px 16px;
  }
  